extends layout

block content
    h1.
        Quotes
    ul
        each quote, i in quotelist
            li #{quote.description} - #{quote.author}.  
                
                ul(id='quotebuttons')
                    li #{quote.likes} likes
                    li 
                        form#formLike(name="addlike", method="post", action="/quotes/like") 
                            input#inputLikes(type="hidden" name="quoteid" value=quote._id)
                            button#btnSubmit(type="submit") Like
                
                    li 
                        form#formDelete(name="delete", method="post", action="/quotes/delete", onclick="return confirm('Delete this quote?')") 
                            input#inputLikes(type="hidden" name="quoteid" value=quote._id)
                            button#btnSubmit(type="submit") Delete
